*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --clr-dark: #1c2427;
    --clr-dark-green: #0a6a38;
    --clr-light-green: #0C8346;
    --clr-light: #fff;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;


}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--clr-dark);
    font-size: 1.125rem;
    color: var(--clr-light);
}

header {
    height: 96px;
    background-color: var(--clr-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-light);
    padding-left: 104px;
    padding-right: 104px;
}

.nav_list, .login_buttons {
    display: flex;
    justify-content:space-between;
    column-gap: 32px;
}

.brand > img {
    width: 80px;
    height: auto;
}

a:hover {
    color: #0a6a38;
}


a {
    text-decoration: none;
    color: var(--clr-light);

} 

a:active {
    color: #0a6a38;
    text-decoration: underline;
}

ul {
    list-style: none;  
}

main {    
    padding-left: 104px;
    padding-right: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.hero_text {
    width: 45vw;
    row-gap: 28px;
    display: flex;
    flex-direction: column;
    line-height: 150%;
}

h1 {
    font-size: 3rem;
    margin-bottom: 12px;
}

.button {
    background-color: #0C8346; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #0a6a38;
    color: var(--clr-light);
}

.hero_btn {
    width: 240px;
}

.btn_outline {
    background-color: transparent;
}

.btn_outline:hover {
    background-color: #0a6a3869;
    /* border: 1px solid #0a6a38; */
    box-shadow: inset 0px 0px 0px 1px #0a6a3869;
}

.container {
    display: grid;
    width: 35vw;
    height: 80vh;
    margin: auto;
    padding-top: 20vh;
}

.contact_container {
    display: grid;
    width: 35vw;
    height: 80vh;
    margin: auto;
    padding-top: 10vh;
}

.register_form {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

label {
    display: block;
    color: var(--clr-light);
    font-size: 14px;
}

.form_input {
    width: 100%;
    background-color: var(--clr-light);
    border: none;
    border-radius: 8px;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 8px;
    outline: none;
}

.select {
    width: 100%;
    background-color: var(--clr-light);
    border: none;
    border-radius: 8px;
    color: var(--clr-dark);
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 8px;
    outline: none;
    cursor: pointer;

    /* Replace default styling */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select option {
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

option {
    width: 100%;
    background-color: var(--clr-light);
    border: none;
    border-radius: 8px;
    color: var(--clr-dark);
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.textarea {
    background-color: var(--clr-light);
    color: #666666;
    padding: 1em;
    border-radius: 8px;
    outline: none;
    border: 2px solid transparent;
    height: 100px;
    text-align: left;
}

.calculator_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.calculator {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0);
    border-radius: 16px;
    overflow: hidden;
}

.calculator_display {
    background-color: #3A4E48;
    color: var(--clr-light);
    width: auto;
    padding: 0.75rem 2rem;
    text-align: right;
    font-size: 3rem;    
    font-weight: 600;
}

.key {
    background: #99C5B5;
    color: var(--clr-dark);
    font-size: 1.2rem;    
    font-weight: 500;
    padding: 1.5rem;
}

.key:hover {
    background: #fff;
}

.calculator_keys {
    display: grid;
    grid-template-columns: repeat(4, 160px);
    grid-template-areas: 
        ". . . ."
        "seven eight nine equal"
        "four five six equal"
        "one two three equal"
        "zero decimal clear equal";
    grid-gap: 0.8px;
}

.calculator_keys > button {
    border: 0;
}

.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
}
.four {
    grid-area: four;
}
.five {
    grid-area: five;
}
.six {
    grid-area: six;
}
.seven {
    grid-area: seven;
}
.eight {
    grid-area: eight;
}
.nine {
    grid-area: nine;
}
.zero {
    grid-area: zero;
}
.clear {
    grid-area: clear;
}
.decimal {
    grid-area: decimal;
}
.equal {
    grid-area: equal;
    background-color: var(--clr-light);
}

.equal:hover {
    background-color: lightcyan;
}

.plus,
.minus,
.multiply,
.divide {
    background-color: lightgray;
}
